

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar {
    background: transparent;
}

.navbar-brand img {
    width: 150px;
}

.navbar-nav {
    margin-right: 130px;
}

.nav-link {
    margin-right: 40px;
}

.btn-outline-primary {
    margin-right: 20px;
}

.header {
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/background.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

.heading, .options {
    color: #fff;
}



.heading {
    text-align: center;
    position: relative;
    top: 195px;
    color: #fff;
    left: 40px;
} 


.options {
    display: flex;
    position: relative;
    top: 250px;
    left: 210px;
    width: 66%;
    height: 80px;
    background-color: #fff;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    border-radius: 35px;
}

span {
    width: 1px;
    height: 35px;
    background-color: black;
}

.options p {
    position: relative;
    top: 7px;
   
}

.options p, i, span{
    margin-left: 30px;
    color: #000;
} 

@media (max-width: 800px) {

    .heading {
        margin-right: 40px;
        size: 50px;
    }

}

@media (max-width: 1220px) {
    .options {
        display: none;
    }

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
}



.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}











/* About-us section */

.About-us .container {
    padding: 10% 5%;
    display: flex;
}
.imgs {
    background-image: url(Images/freepik\ \ background\ complete\ \ inject\ 4.png);
    width: 50%;
    position: relative;
}

.imgs img {
    width: 400px;
}

.houses {
    position: relative;
    left: 120px;
}

.character {
    position: relative;
    top: 150px;
}

.article {
    padding: 7%;
    margin: 0;
    position: relative;
    top: 110px;
    left: 78px;
}


@media(max-width: 1086px) {

    .houses {
        position: relative;
        top: 15px;
    }
   
}

@media(max-width: 500px) {
    .imgs img {
        width: 300px;
    }
}


@media (max-width: 980px) {

    .article {
        text-align: center;
        left: 0;     
    }
}


































/* how-it-works section */

.how-it-works .container {
    padding: 12% 5%;
    position: relative;
}

.head {
    text-align: center;
    position: relative;
    top: 70px;
}

.hiw {
    padding: 5%;
    text-align: center;
    background-color: gainsboro;
    height: 450px;
    border-radius: 40px;
    margin: 0 1% 3%;
}

.circle-text {
    position: relative;
    top: 110px;
  
}

.circle-1, .circle-2, .circle-3 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 130px;
    margin-top: 30px;
}

.circle-1 {
    background-color: #00BA74;
    box-shadow: 32px 21px 53px 6px rgba(0,186,116,0.45);
    -webkit-box-shadow: 32px 21px 53px 6px rgba(0,186,116,0.45);
    -moz-box-shadow: 32px 21px 53px 6px rgba(0,186,116,0.45);
}

.circle-2 {
    background-color: #FFAC0C;
    box-shadow: 32px 19px 53px 6px rgba(255,172,12,0.45);
    -webkit-box-shadow: 32px 19px 53px 6px rgba(255,172,12,0.45);
    -moz-box-shadow: 32px 19px 53px 6px rgba(255,172,12,0.45);
}

.circle-3 {
    background-color: #252B41;
    box-shadow: 32px 19px 53px 6px rgba(37,43,65,0.45);
    -webkit-box-shadow: 32px 19px 53px 6px rgba(37,43,65,0.45);
    -moz-box-shadow: 32px 19px 53px 6px rgba(37,43,65,0.45);
}

.white-circle {
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
    left: 10px;
    top: 10px;
}


.fa-user, .fa-search, .fa-paper-plane {
    position: relative;
    top: 26px;
    right: 13px;
    color: #fff;
}


.num {
    width: 45px;
    height: 30px;
    background-color: #fff;
    position: relative;
    border-radius: 4px;
    top: 60px;
    left: 200px;
    text-align: center;
    z-index: 2;
}





@media(max-width: 990px) {
    .hiw {
        height: 1140px;
        margin-bottom: 0;
    }

    .circle-1, .circle-2, .circle-3 {
        position: relative;
        left: 30px;
    }

    .num {
        position: relative;
        left: 221px;
    }

}


@media (max-width: 544px) and (min-width: 767px) {
    .tre {
        position: absolute;
        left: 210px;
    }
}


















/* location section *************************/



.location{
    padding: 15% 4%;
}

.props {
    margin-top: 90px;
}


.img-1 {
    background-image: url(Images/Mask\ Group.png);
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
    margin-left: 40px;
}


.img-2 {
    background-image: url(Images/Mask\ Group\ \(1\).png);
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    margin-left: 50px;
}


.img-3 {
    background-image: url(Images/Mask\ Group\ \(2\).png);
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    margin-left: 40px;
    position: relative;
    bottom: 130px;
} 

.props div p {
    color: #fff;
    position: relative;
    top: 230px;
}





@media (max-width: 880px) {
    .img-1, .img-2, .img-3 {
        width: 80%;
    }

    .img-2 {
        position: relative;
        bottom: 165px;
        right: 10px;
    }
   
}



























/*************** Property  Section ***************************/




.property  .container {
    padding: 9% 5%;
    position: relative;
    margin-top: 222px;
    background-color: gainsboro;
    height: 1130px;
}

.prop {
    margin-top: 250px;
}


.image-1 {
    background-image: url(Images/Rectangle\ 17.png);
}

.image-2 {
    background-image: url(Images/Rectangle\ 19.png);
 
}

.image-3 {
    background-image: url(Images/Rectangle\ 21.png);
   
}

.image-1, .image-2, .image-3 {
    height: 300px;
    width: 100%;
}


.img-text {
    background-color: #fff;
    padding: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


.img-text h3 {
    font-size: 1.2rem;
    color: #00BA74;
}


.img-text p {
    position: relative;
    bottom: 25px;
}

.image-1 span, .image-2 span, .image-3 span {
    position: relative;
    left: 205px;
    top: 180px;
    background-color: #252B41;
    color: #fff;
    padding: 8px;
    border-radius: 7px;
}

.amt {
    position: relative;
    color: #00BA74;
    left: 186px;
    bottom: 30px;
    background-color: #fff;
}


.solid-btn {
    background-color: #00BA74;
    border-color: #00BA74;
}




.light-btn {
    background-color: #92e3a9;
    border-color: #92e3a9;
    color: #00BA74;
}




.header-text {
    color: #00BA74;
}



@media (max-width: 800px) {
    .property .container {
        height: 1800px;
    }

    .img-text {
        width: 319px;
    }

    .prop {
        position: relative;
        bottom: 90px;
        left: 50px;
    }

    .prop-sec {
        margin-top: 24px;
    }

    .image-1, .image-2, .image-3 {
        height: 300px;
        width: 73%;
    }

}



















